.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
}

@keyframes bounce {
    from,
    20%,
    50%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        transform: translate3d(0, -4px, 0);
    }
}

.code {
    animation: code 2s steps(9);
    width: 9ch;
}

@keyframes code {
    from {
        width: 0;
    }
}

.box-float {
    position: relative;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: rgb(118, 218, 255);
    overflow: hidden;

    &:before,
    &:after {
        content: '';
        position: absolute;
        min-width: 160px;
        min-height: 160px;
        background-color: #fff;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    &:before {
        border-radius: 45%;
        animation-duration: 10s;
    }
    &:after {
        border-radius: 48%;
        animation-duration: 10s;
    }
}

@keyframes rotate {
    0% {
        transform: translate(0, 0) rotate3d(0, 0, 1, 0);
    }
    50% {
        transform: translate(0, -2%) rotate3d(0, 0, 1, 180deg);
    }

    100% {
        transform: translate(0, 0) rotate3d(0, 0, 1, 360deg);
    }
}
